---
layout: base.njk
title: About me
---
<div class="hero-section m-0 mb-5 p-0 d-flex align-items-end">
    <div class="container ">
        <h1>About Us</h1>
    </div>
</div>
<section class="container body-text">
    <h2 class=""> What is Karate?</h2>
    <p>Amet ex do incididunt esse aliquip nostrud proident ex occaecat ipsum sunt. Irure adipisicing elit mollit mollit commodo ipsum incididunt aliquip fugiat enim quis labore sit. Fugiat dolore consectetur deserunt eiusmod fugiat mollit amet laborum culpa veniam aliquip. Amet esse do eu amet laboris nulla adipisicing anim amet pariatur. <p>

<p>Eu reprehenderit esse nostrud amet eu culpa nostrud duis incididunt. Anim commodo sunt in ullamco minim nisi. Esse sit mollit incididunt eiusmod aliquip ea dolor excepteur consectetur nulla elit. Irure sit aute et nostrud do proident nulla sit ipsum aute do.</p>

    <h2 class="mt-4">How often do enter competitions?</h2>
</section>
