---
layout: base.njk
eleventyImport:
  collections: ["posts"]
---    

    <div class="container d-flex p-0"> 
    <div class="header-wrap">
    <h1>Welcome to the University Of Liverpool Karate Club!</h1>
    <p>We are a strongest drinking karate club up in the Liverpool area</p>
    <button class="btn btn-primary">Find out more</button>
    </div>
    <div class="hero-image-wrap">
      <img src="./images/karate-hero.png" alt="">
    </div>
    </div>

    <div class="container club-bits mt-5 p-5">
      <div class="row ">
        <div class="col"><h3>Best Club Ever</h3></div>
        <div class="col"><h3>All grades welcome</h3></div>
        <div class="col"><h3>Nut Kickers Welcome</h3></div>
      </div>
    </div>


        {# EndTest #}