---
layout: base.njk
eleventyImport:
  collections: ["posts"]
---    

    <div class="container d-flex p-0"> 
    <div class="header-wrap">
    <h1>Welcome to <br> The University Of Liverpool <br> Karate Club!</h1>
    <p>Excepteur ipsum ea nostrud voluptate in duis in aliquip. Eiusmod esse incididunt et deserunt laborum pariatur id voluptate ex labore cupidatat elit id nulla. Fugiat Lorem eiusmod cillum tempor est ad ullamco ad nostrud id amet id et ut. Culpa id excepteur veniam mollit dolore commodo esse dolore.</p>
    <button class="main-button" role="button to view join karate club page">Join us</button>
    </div>
    <div class="hero-image-wrap">
      <img src="./images/karate-hero.png" alt="">
    </div>
    </div>
    <div class="container-fluid selling-point-wrap">
    <div class="container club-bits my-5 py-3 py-md-4">
      <div class="d-flex flex-column flex-lg-row justify-content-between">
        <div class=""><p>All grades welcome, students and staff</p></div>
        <div class=""><p>We train Mondays and Fridays, at 8pm</p></div>
        <div class=""><p>Find us at 10 Liverpool Street, LS3 4JDF</p></div>
      </div>
    </div>
  </div>

   <div class="container mt-5">
        <div class="row">
            <!-- Text Section (left) -->
            <div class="col-md-6">
                <h1>Header Text</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, doloribus!</p>
            </div>
            
            <!-- Image Section (right) -->
            <div class="col-md-6">
                <img src="path_to_your_image.jpg" alt="Description of Image" class="img-fluid">
            </div>
        </div>
    </div>

        {# EndTest #}