---
layout: base.njk
eleventyImport:
  collections: ["posts"]
---    

    <div class="hero-section-wrap container px-4 p-md-0"> 
      <div class="row">
       <div class="col-md-6 order-2 order-md-1 header-wrap">  
        <h1>Welcome to <br>The University Of Liverpool <br> Karate Club!</h1>
        <p class="">Are you ready to embark on a journey of self-discovery, discipline, and personal growth? Look no further than the University of Liverpool Karate Club, where we bring the ancient art of Shotokan karate to life within the vibrant academic community of University of Liverpool.</p>
         <a href="/membership/"> <button class="main-button" role="button to view join karate club page">Join us</button></a>
      </div>
     <div class="col-md-6 order-1 order-md-2 hero-image-wrap mb-4 mb-md-0">
        <img src="./images/karate-hero.png" class="img-fluid" alt="">
     </div>
    </div>
    </div>
    <div class="container-fluid selling-point-wrap">
    <div class="container club-bits my-5 py-3 py-md-4">
      <div class="row">
        <div class="col-12 col-md hero-icons d-flex align-items-center my-2"><img class="hero-icons me-4 mb-2" src="../images/black-belt-white.svg" alt="My Icon"><p>All styles and levels are welcome <br> for university students and staffs</p></div>
        <div class="col-12 col-md hero-icons d-flex align-items-center my-2">
          <img class="hero-icons me-4 mb-2" src="../images/calendar-white-small.svg" alt="My Icon"><p>We train 3 times a week: <br> Monday, Wednesday and Friday</p></div>
        <div class="col-12 col-md hero-icons d-flex align-items-center my-2">
          <img class="hero-icons me-4 mb-2" src="../images/map-pin-white.svg" alt="My Icon"><p>Find us at: University Sports Centre <br> Bedford St N, Liverpool L69 7ZN</p></div>
      </div>
    </div>
  </div>

   <section class="about-wrap container p-4 p-md-0">
        <div class="row"> 
             <!-- Image section left of text -->
          <div class="col-md-6">
                <img src="./images/karate-group-1.png" alt="A group picture of the UoL Karate club members and staff" class="img-fluid">
            </div>
            <!-- Text sections right of image -->
            <div class="col-md-6 about-text-wrap m-0">   
               <!-- Icon section above text -->
               <img class ="mb-4 mt-4"src="../images/karate-gee-icon.svg" alt="Black and white icon of a karate gi" width="70" height="auto">
                <h1 >About UofL Karate Club</h1>
                  <p class="m-0">The University of Liverpool Karate Club is more than just a club; we are a community of students who share a passion for karate. Led by enthusiastic student leaders, we provide an environment where students of all levels can come together to learn, grow, and excel in the art of karate.</p>
                {# Read more about link #}  
                <a href="/about/" title="Read more about the University of Liverpool karate club" tabindex="1">Learn more</a>
            </div>
        </div>
    </section>
    {# Timetable section #}
    <section class="container-fluid bg-dark text-light class-times">
      <div class="container text-center timetable-wrap">
        <h1>Class Time Table</h1>
        <p> Find out the time for out next section in the table below, everyone welcome at anytime</p>
        <div class="table-responsive mt-5">
        <table class="table  table-dark table-striped table-hover ">
            <thead>
                <tr>
                    <th>Time / Day</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9pm</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>

    </section>
    <section class="container event-wrapper">
      <div class="event-header">
        <h1>Upcoming Karate Club Events</h1>
      </div>
 

      <div class="container d-flex flex-column justify-content-left p-0 mt-3 ">
    {% if calendarEvents | length == 0 %}
    <div><h4 class="text-secondary" tabindex="0">No upcoming events</h4></div>
    {% else %} 
    {% for event in calendarEvents %}
    <div class="card event-card border-0 mb-4" >
        <div class="row no-gutters">
            <!-- Date Section -->
            <div class="col-3 col-md-2 ps-4 px-md-5 d-flex flex-column justify-content-center align-items-center border-right order-md-second event-date">
                <h5 class="mb-0 pb-2 text-center">{{ event.start | formatWeekDay }}</h5>
            </div>
            
            <!-- Event Details Section -->
            <div class="col-9 col-lg-7 d-flex flex-column justify-content-center py-3 px-lg-3 order-second order-md-third">
                <small class="mb-2">{{ event.start | formatDatetime }}</small>
                <h4 class="mb-2">{{ event.summary }}</h4>
                <p class="mb-2">{{event.desciption}}</p> 
                <small class="mb-2"><i class="bi bi-geo-alt-fill pe-2"></i>{{event.location}}</small>
            </div>
            
            <!-- Image Section -->
            <div class="card-image col-12 col-lg-3 order-first order-md-last">
                <img src="./images/karate-group-1.png" alt="Event Image" class="img-fluid h-100">
            </div>
        </div>
    </div>
    
     {% endfor %} 
     {% endif %}
</div>
    </section>

        {# EndTest #}