---
layout: base.njk
title: University of Liverpool Karate Club Membership
---
<div class="hero-section m-0 mb-5 p-0 d-flex align-items-end">
    <div class="container ">
        <h1 class="mb-5" >Karate Membership</h1>
    </div>
</div>
<section class="container body-text mb-5 membership-content">
    <h2 class=""> How do I join?</h2>
    <p>Inorder to join you will need the AU membership and the KUGB Licence. <br> Then <b>£3 per session</b> <p>
    <h2 class="mt-4">The Athletic Union</h2>
    <p>The Athletic Union (AU) is a student lead union founded in 1884. The AU consists of competitive sports clubs representing the University in British Universities and Colleges Sport (BUCS). The AU also provides opportunities for social sports with over 132 teams across three sports.</p>
    <p>Being an AU member is a great way to stay active, develop management and leadership skills and meet people.</p>
    <p>Other benefits include:</p>
    <ul>
        <li>Representation within the Sport Liverpool department through the elected student AU executive committee</li>
        <li>Elite personal accident insurance cover</li>
        <li>Access to physiotherapy treatment at our Sports injuries clinic</li>
        <li>Priority access to AU social events</li>
        <li>Financial support at representative level</li>
        <li>Subsidised support to coaching an officials courses</li>
        <li>Eligibility for colours and blues award.</li>
    
    </ul>
    <p>The initial cost of the AU membership is £60 and this will allow you to join the club. <a href="https://www.liverpool.ac.uk/sports/team-sport-liverpool/clubs/karate/" rel="nofollow noopener" target="_blank">Karate membership signup link</a>   </p>
    <h2 class=""> KUGB Licence</h2>
     <p>Details can be found on the <a href="https://kugb.org/individual-membership/" rel="nofollow noopener" target="_blank">KUGB website</a>   </p>
</section>
