---
layout: base.njk
title: University of Liverpool Karate Club Session Schedule
---
<div class="hero-section m-0  p-0 d-flex align-items-end">
    <div class="container">
        <h1 class="mb-5" >UoL Karate Club Schedule</h1>
    </div>
</div>
   <section class="container-fluid bg-dark text-light class-times">
      <div class="container text-center timetable-wrap">
        <h1>Class Time Table</h1>
        <p> Find out the time for our next training session in the table below, all grades welcome at all sessions</p>
        <div class="table-responsive mt-5">
        <table class="table table-dark table-bordered custom-table" summary="A table of Liverpool Karate club training session times">
            <thead role="colgroup" class="text-start">
                <tr>
                    <th class="text-center">Day/Time</th>
                    <th scope="col" role="columnheader">7:00 PM</th>
                    <th scope="col" role="columnheader">7:30 PM</th>
                    <th scope="col" role="columnheader">8:00 PM</th>
                    <th scope="col" role="columnheader">8:30 PM</th>
                    <th scope="col" role="columnheader">9:00 PM</th>
                    <th scope="col" role="columnheader">9:30 PM</th>
                    <th scope="col" role="columnheader">10:00 PM</th>
                </tr>
            </thead>    
            <tbody role="rowgroup">
            <tr role="row">
                <th class="align-middle text-center" scope="row">Monday</th>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td class="cell-background" colspan="4"><span class="primary-table-text-emphasis" role="cell"><b>Monday Training</b></span><br>
                        <span class="secondary-table-text-emphasis">Instructor: Sensei Chris & Jan</span> <br>
                        <span class="primary-table-text-emphasis"><b>All Levels</b></span><br>
                         <span class="secondary-table-text-emphasis">Location: Dance Studio,  Sports & Fitness Center</
            </tr>
            <tr role="row">
                <th class="align-middle text-center" scope="row">Tuesday</th>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
            </tr>
            <tr role="row">
                <th class="align-middle text-center" scope="row">Wednesday</th>
                <td role="cell"></td>
                <td role="cell"></td>
                <td class="cell-background-darker" colspan="4"><span class="primary-table-text-emphasis" role="cell"><b>Wednesday Training </b></span><br>
                        <span class="secondary-table-text-emphasis">Instructor: Sensei Chris & Jan</span> <br>
                        <span class="primary-table-text-emphasis"><b>All Levels</b></span><br>
                         <span class="secondary-table-text-emphasis">Location: Dance Studio,  Sports & Fitness Center</td>
                <td role="cell"></td>
            </tr>
            <tr role="row">
                <th class="align-middle text-center" scope="row">Thurday</th>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td>
                <td role="cell"></td> 
            </tr>
            <tr role="row">
                <th class="align-middle text-center" scope="row">Friday</th>
                <td role="cell"></td>
                <td class="cell-background" colspan="2"><span class="primary-table-text-emphasis" role="cell"><b>Friday Beginner Training </b></span><br>
                        <span class="secondary-table-text-emphasis">Instructor: Sensei Chris</span> <br>
                        <span class="primary-table-text-emphasis"><b>Beginner Level</b></span><br>
                         <span class="secondary-table-text-emphasis">Location: Activity Room, Sports & Fitness Centre</td>
                <td class="cell-background-darker" colspan="2"><span class="primary-table-text-emphasis" role="cell"><b>Friday Advanced Training</b></span><br>
                        <span class="secondary-table-text-emphasis">Instructor: Sensei Chris</span> <br>
                        <span class="primary-table-text-emphasis"><b>Advanced Level</b></span><br>
                         <span class="secondary-table-text-emphasis">Location: Activity Room, Sports & Fitness Centre</td>
                <td role="cell"></td>
                <td role="cell"></td> 
            </tr>
            </tbody>
        </table>
        </div>
      </div>

    </section>
