---
title: Karate Homepage
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {# Website Icon goes here #}
  {#   <link rel="icon" type="image/svg+xml" href="../images/portfavcon-coder.svg"> #}
    {# Google fonts #}
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap' %}
    {# Bootstrap css #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    {# Font awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {# Local CSS #}
    <link href="../css/style.css" rel="stylesheet">
  
     	
</head>
<body>
<!-- Off-canvas Menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
     <div class="logo d-flex justify-content-center py-4">
          <a class="site-logo" href="/">
         <img src="../images/karatelogo.svg" alt="University Of Liverpool Karate logo" width="100" height="100">
          </a>
        </div> 
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">University of Liverpool <br> Karate Club</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
       
    </div>
    <div class="offcanvas-body"> 
  {#    <div class="logo">
          <a class="site-logo" href="/">
         <img src="../images/karatelogo.svg" alt="University Of Liverpool Karate logo" width="100" height="100">
          </a>
        </div>  #}
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">About the club</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Schedule</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="">News</a>
            </li>
                 <li class="nav-item">
                <a class="nav-link" href="">Membership</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="">Contact us</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="">Sponsorship</a>
            </li>
            <!-- Add more links as needed -->
        </ul>
        <div class="social-wrap mt-4">
          <i class="fa-brands fa-facebook fb"></i>
         <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-instagram insta"></i>
          <i class="fa-brands fa-youtube tube"></i>
        </div>
    </div>
</div>

<!-- Top Navbar -->
<nav class="navbar navbar-light">
    <div class="container-fluid d-flex justify-content-between header-container pb-3">
        <button class="navbar-toggler ms-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="logo text-center">
          <a class="site-logo" href="/">
         <img src="../images/karatelogo.svg" alt="University Of Liverpool Karate logo" width="70" height="auto">
          </a>
          <h4 class="pt-2">University of Liverpool Karate Club</h4>
        </div>
        <div></div>
    </div>
</nav>

<!-- Page Content -->

<div class="content-container container mb-5 mt-5">
        {{ content | safe }}
</div>

<div class="footer-wrap border-top">
<div class="container">
  {# For responsive stuff - set the wanted look for mobile with no breakpoint classes, and set the desktop look using breakpoint classes #}
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 my-2 my-md-5">
  
    <div class="col mb-3">
      <h5>About Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About the Club</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Schedule</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Membership</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sponsorhip</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>How reach us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Location</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Find us on</h5>
      <div class="nav social-wrap flex-row">
          <i class="fa-brands fa-facebook fb"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-instagram insta"></i>
          <i class="fa-brands fa-youtube tube"></i>
      </div>
    </div>  
    
    <div class="col  order-md-first mb-3 mt-3 mt-md-0">
      <a class="site-logo" href="/">
         <img src="../images/karatelogo.svg" alt="University Of Liverpool Karate logo" width="100" height="100">
          </a>
       <p class="mt-3">University of Liverpool <br> Karate Club</p> 
      <p class="text-muted mt-3">© 2023 PaperCarryDesigns</p>
    </div>
  </footer>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>  